<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 bb">Proof Professors</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a target="_blank" href="/img/resume.pdf" class="link">Resume + Cover Letter</a></li>
					<li><a href="/personal-statement" class="link">Personal Statements</a></li>
					<li><a href="/professional-writing" class="link">Professional Writing</a></li>
					<li><a href="/about" class="link">About Us</a></li>
					<li><a href="/our-process" class="link">Our Process</a></li>
					<li><a href="/testimonials" class="link">Testimonials</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://twitter.com/proofprofessors" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/proofprofessors/" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
